.btn
	height: 40px
	display: inline-flex
	padding: 0 20px
	background: #09b02e
	color: #fff
	border-radius: 4px
	font-size: 20px
	transition: background .3s
	&:hover
		background: darken(#09b02e, 5%)
