.info
	&:not(:last-child)
		margin-bottom: 10px
	a
		color: #6e59b5
		text-decoration: none
		transition: color .3s
		word-wrap: break-word
		&:hover
			color: darken(#6e59b5, 10%)
			text-decoration: underline
	ol
		li
			&:not(:last-child)
				margin-bottom: 10px
	&__property
		margin-bottom: 10px
	&__value
		padding-left: 20px
		max-height: 145px
		overflow: auto
	&__row
		+clr
		padding: 10px 0
	&__cell
		float: left
		width: 50%
	&__value
		ol
			padding-left: 15px
	&__name
		position: relative
		padding-left: 40px
		text-decoration: none
	&__img
		position: absolute
		left: 0
		top: 50%
		margin-top: -15px
		width: 30px
		height: 30px
		border-radius: 50%
		background: center center / cover no-repeat
