.modal
	position: fixed
	display: flex
	align-items: center
	justify-content: center
	top: 0
	left: 0
	height: 100%
	width: 100%
	overflow: auto
	background: rgba(#000, .4)
	z-index: 99
	&__inner
		position: relative
		max-width: 500px
		width: 100%
		background: #fff
		border-radius: 5px
		padding: 20px 30px
	&__title
		font-size: 24px
		text-align: center
		margin-bottom: 10px
		padding: 0 30px
	&__close
		position: absolute
		right: 20px
		top: 20px
